
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ activity.activityName }}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>{{ activity.activityName }}</h1>
    <p>Address: {{ activity.activityAddress }}</p>
    <p>Hours: {{ activity.activityHours }}</p>
    <p>Category: {{ activity.activityType }}</p>
    <p>rating: {{ activity.rating }}</p>
    <p>Accommodations: {{ activity.activityAccommodations }}</p>
    <p>Price Range: {{ activity.activityPriceRange }}</p>
    <p>Reviews: {{ activity.reviews }}</p>
    <p>Link: <a href={{activity.activityLink}}>Click Here</a></p>
    <p>Description: {{ activity.activityDescription }}</p>    

    <!-- Additional details as needed -->

    <p><a href="/allActivities" class="link link-size">Back to Activities List</a></p>
    <script src="/routes/activities.js"></script>
</body>
</html>