<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.title }}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>{{ event.title }}</h1>
    <p>Date: {{ event.date }}</p>
    <p>Category: {{ event.category }}</p>
    <p>Description: {{ event.description }}</p>

    <!-- Additional details as needed -->

    <p><a href="/allEvents" class="link link-size">Back to Events List</a></p>
    <script src="/routes/events.js"></script>
</body>
</html>
