<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event.eventName }}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body class="activity-page">
    <h1>{{ event.eventName }}</h1>
    <p>Address: {{ event.eventAddress }}</p>
    <p>Date: {{ event.eventDate }}</p>
    <p>Time: {{ event.time }}</p>
    <p>Category: {{ event.eventType }}</p>
    <p>Description: {{ event.eventDescription }}</p>
    <p>Contact: {{ event.eventContact }}</p>
    <p>Accommodations: {{ event.eventAccommodations }}</p>
    <p>Price Range: {{ event.eventPriceRange }}</p>

    <!-- Additional details as needed -->

    <form id = eventForm></form>
    <div class="back-link">
    <p><a href="/rsvp" class="link link-size">RSVP</a></p>
    <p><a href="/allEvents" class="link link-size">Back to Events List</a></p>
    </div>
    <script src="/public/js/eventValidation.js"></script>
</body>
</html>
