<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <div id="searchResultsContainer"></div>
    <h1>Search Results</h1>
    <div id="activitiesList">
  {{#each allActivities}}
  <div class="activity">
    <h3>{{this.activityName}}</h3>
    <p>Hours: {{this.activityHours}}</p>
    <p>Category: {{this.activityType}}</p>
    <p>Description: {{this.activityDescription}}</p>
    <a href="/activity/{{this._id}}">View Details</a>
    <a href="/createReview">Leave A Review</a>
  </div>
  {{/each}}
  </div>
    </ul>
    <script src="/public/js/searchResults.js"></script>
</body>
</html>
